<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klg.newpolice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/policeman"
        android:label="@string/app_name"
        android:roundIcon="@drawable/policeman"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.authorisation.AuthorisationActivity" />
        <activity android:name=".ui.aboutchild.AboutChildActivity" />
        <activity android:name=".ui.missingchildren.MissingChildrenActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.comment.CommentActivity"></activity>
    </application>

</manifest>